* {
  box-sizing: border-box;
}
body {
  width: 1920px;

  display: block;
  margin: 0 auto;
  background-color: #130212;
}

.section-1 {
  display: flex;
  position: relative;
  width: 1920px;
  height: 876px;
  flex-shrink: 0;
  font-family: 'Sehnsucht Font';
  color: white;
  font-style: normal;
  font-weight: 400;
  .div-logo {
    position: absolute;
    width: 940.5px;
    height: 612.325px;
    margin-top: 132px;
    margin-left: 491px;
    margin-right: 489px;
    flex-shrink: 0;
  }
  .div-demoneyes-1 {
    position: absolute;
    width: 122.088px;
    height: 23.552px;
    margin-top: 100.2px;
    margin-left: 131.85px;
    margin-right: 1026px;
    flex-shrink: 0;
  }
  .div-demoneyes-2 {
    position: absolute;
    width: 288.344px;
    height: 55.624px;
    margin-top: 99px;
    margin-left: 1435px;
    margin-right: 35.1px;
    flex-shrink: 0;
  }
  .div-demoneyes-3 {
    position: absolute;
    width: 432.516px;
    height: 83.436px;
    margin-top: 623px;
    margin-left: 28px;
    margin-right: 963.66px;
    flex-shrink: 0;
  }
  .div-demoneyes-4 {
    position: absolute;
    width: 244.282px;
    height: 47.124px;
    margin-top: 734px;
    margin-left: 1589px;
    margin-right: 86.6px;
    flex-shrink: 0;
  }
  .div-textaround-1 {
    position: absolute;
    font-size: 48px;
    margin-top: 40px;
    margin-left: 48px;
    margin-right: 1589px;
    letter-spacing: 8%;
  }
  .div-textaround-2 {
    position: absolute;
    font-size: 45px;
    margin-top: 82px;
    margin-left: 960px;
    margin-right: 550px;
    letter-spacing: 8%;
  }
  .div-textaround-3 {
    position: absolute;
    font-size: 64px;
    transform: rotate(10.518deg);
    margin-top: 32.41px;
    margin-left: 1289px;
    margin-right: 150px;
    letter-spacing: 8%;
  }
  .div-textaround-4 {
    position: absolute;
    font-size: 64px;
    transform: rotate(11.514deg);
    margin-top: 358px;
    margin-left: 67px;
    margin-right: 1588px;
    letter-spacing: 8%;
  }
  .div-textaround-5 {
    position: absolute;
    font-size: 64px;
    transform: rotate(27.456deg);
    margin-top: 301.04px;
    margin-left: 1688.85px;
    margin-right: 25.49px;
    letter-spacing: 8%;
  }
  .div-textaround-6 {
    position: absolute;
    font-size: 48px;
    transform: rotate(-10.93deg);
    margin-top: 579.19px;
    margin-left: 1514.68px;
    margin-right: 115.68px;
    letter-spacing: 8%;
  }
  .div-textaround-7 {
    position: absolute;
    font-size: 64px;
    margin-top: 739px;
    margin-left: 83px;
    margin-right: 1588px;
    letter-spacing: 8%;
  }
  .div-textaround-8 {
    position: absolute;
    font-size: 45px;
    margin-top: 758px;
    margin-left: 1188px;
    margin-right: 292px;
    letter-spacing: 8%;
  }
}
.section-2 {
  display: flex;
  position: absolute;
  background-color: #5f0008;
  width: 1920px;
  height: 136px;
  flex-shrink: 0;
}
.running-line {
  width: 1236px;
  height: 60px;
  margin-top: 38px;
  color: #ffffff;
  font-family: PaladinPCRus;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.84px;
  overflow: hidden;
  white-space: nowrap;
}

.running-line {
  display: inline-block;
  animation: running-line 10s linear infinite;
}

@keyframes running-line {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.section-3 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sprite {
  width: 57.58vw;
  height: 40.78vw;
  background-image: url('sprite.png');
  background-size: 345.47vw 40.78vw;
  animation: sprite 3s steps(1) infinite;
}
@keyframes sprite {
  0% {
    background-position: 0 0;
  }
  16% {
    background-position: 57.58vw 0;
  }
  32% {
    background-position: 115.16vw 0;
  }
  48% {
    background-position: 172.74vw 0;
  }
  64% {
    background-position: 230.32vw 0;
  }
  80% {
    background-position: 287.9vw 0;
  }
}
